@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 20px;
}


.accordion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    transition: 0.25s
}

.accordion-question {
    height: 1rem;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border: 1px solid black;
    height: 60px;
    border-radius: 5px
}

.answer-div {
    position: relative;
    height: max-content;
}

.accordion-answer {
    position: absolute;
    width: 1000px;
    padding-left: 15px;
    text-align: justify;
}