@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  font-style: none;
  outline: none;
} 

:root {
  --defaultBlue: #2076f0; 
}

html {
  font-size: 1px;
  -webkit-text-size-adjust: none;
}



button { cursor: pointer }

@media (min-width: 721px) and (max-width: 1439px) {
  html {
    font-size: 0.0696111111vw;
  }
}

@media (max-width: 720px) {
  html {  
    font-size: 0.27777777778vw;
  }

  .container {
    width: 100% !important;
    padding: 0rem 0rem 0rem 0rem !important;
    margin: 0rem 0rem 0rem 0rem !important; 
  }

  .box {
    width: 100vw !important;
    padding: 0rem 0rem 0rem 0rem !important;
    margin: 0rem 0rem 0rem 0rem !important;
  }
}



/* .headerBtn {
  color: white;
  border: none;
  font-size: 20px;
  border: none;
  width: 200%;
  background: none;
  font-weight: 600;
}

.logo-title {
  font-weight: 700;
  color: #fff;  
}


.card {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border-radius: 15px ;
  background: #1F5BFA;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
}

.title {
  margin-bottom: 15px;
  font-size: 30px;
}

.p-title {
  font-size: 20px;
  margin-bottom: 15px;
  width: 200px;
  padding: 0;
  margin: 0;
}

.price {
  font-size: 35px;
  margin-top: 20px;
}

.msg {
  margin-top: 15px;
  font-size: 20px;
}


.card-info {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  background-color: #F9FAFC;
  border-radius: 15px;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #000;
}

.btn {
  height: 60px;
  color: #fff;
  width: 250px;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #1F5BFA;
  border: none;
  margin-top: 15px;
  margin-bottom: 25px;
} */